<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span class="navbar-brand"><span class="text-cap-color">C</span>ode <span class="text-cap-color">C</span>afe <span class="brand-slogan">- Codehub with stats</span></span>
		</div>
		<div class="pull-right offset-right-20 offset-top-10 loader nga-default nga-stagger nga-fade" ng-show="$root.showLoader"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></div>
	</nav>